In [1]:
z = "I am learning Python" # A very basic string

a = "5" # The number "5" as a string

a = '5' # Single quotations to create a string

a_two = "'5'" # Surround one type of quotation with another one to make that quotation part of the string

b = """This is a 
multiline string""" # Triple quotes to denote a multiline string

c = "Escaping a character \''" # Use a "\" to "escape a character" meaning that you'll print that character as is. This is useful for when you need to use special characters like single quotes

d = "this is how you create a \n newline, which is kind of like hitting the enter key" # Use "\n" to denote a newline

print(z) # Use the "print" function to look at all of these outputs
print(a)
print(a_two)
print(b)
print(c)
print(d)

I am learning Python
5
'5'
This is a
multiline string
Escaping a character ''
this is how you create a
 newline, which is kind of like hitting the enter key

In [4]:
#slicing
long_string="My name is Kowshik"
print(long_string[5:11])
print(long_string[0])

me is
M

In [7]:
# Non-primitive data structures
# list/array
a_list = [1, 2, 3, 4, 5, "asdas"] # This is a list
print(a_list[:3]) # They can be sliced the same way strings are
print(a_list[::-1]) # Here is an easy way to reverse a list

# tupple
a_tuple = (1, 2, 3, 4, 5, "asdas") # This is a tuple
a_tuple[:3] # They can be sliced the same way strings are
a_tuple[::-1] # Here is an easy way to reverse a tuple

[1, 2, 3]
['asdas', 5, 4, 3, 2, 1]

('asdas', 5, 4, 3, 2, 1)

In [8]:
# dictionary
a_dictionary = {"key":"value", "multiple_values":["more", "than", "one", "value", "per", "key"]} # This is a dictionary
print(a_dictionary.get("multiple_values")) # This gets the key with a certain value
print(a_dictionary["key"]) # This is another way of finding keys

['more', 'than', 'one', 'value', 'per', 'key']
value

In [ ]:
# set
a_set = {"Value", "first", "third"}

In [20]:
# Functions
def my_func(x,y,z):
  a=x+y+z
  return a

type(my_func(1,2,3))

int

In [22]:
# Methods
test = [1, 2, 3, 4]

test.append(3) # This calls a method from the "list" class
print(test)

[1, 2, 3, 4, 3]

In [27]:
# For loop
l=list(range(3,10))
for i in l:
  i+=2
  print(i)

5
6
7
8
9
10
11

In [28]:
# While loop
x=0
while x<5:
  x+=1
  print(x)

1
2
3
4
5

In [29]:
# if then

x = 3
y = 5

if x == y:
    print("x equals y")
elif x > y:
    print("x is greater than y")
else: 
    print("x is less than y")

x is less than y

In [30]:
#try except

try:
    2 / 0 # You can't divide by 0 and this will throw an exception
except ZeroDivisionError:
    print("Can't divide by 0")

Can't divide by 0

In [31]:
# file handling using with

with open('file_path', 'w') as file:
    file.write('hello world !')

In [33]:
# Numpy
import numpy as np

a = np.array([2, 3, 4])

# Make sure you use a list to create an array, the below is wrong
b = np.array([2, 3, 4])

In [35]:
c = np.array([2, 3, 4, 5, 6, 2]).reshape(2, 3)
c

array([[2, 3, 4],
       [5, 6, 2]])

In [36]:
d = np.array([2, 3, 4, 5, 6, 2, 3, 5]).reshape(2, 2, 2)
d

array([[[2, 3],
        [4, 5]],

       [[6, 2],
        [3, 5]]])

In [37]:
e = np.array([1, 2, 3, 4, 5, 6])
print(e.sum()) # Sum the array
print(e.min()) # Find the minimum value in an array
print(e.max()) # Find the maximum value in an array
print(e.mean()) # Find the arithmetic mean of an array

21
1
6
3.5

In [38]:
np.zeros(5) # Creates an array of zeros with 5 elements
np.linspace(0, 6, 10) # Creates an array of values from 0 through 6 in 10 even spaces
np.random.rand(3) # Three random values between 0 and 1
np.random.randint(1, 1000) # A random integer between 1 and 1000
np.arange(25) # Like the "Range" function we learned earlier, this is gives you a range of integers between 1 - 25

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [40]:
import pandas as pd
series=[1,2,3,6,7]
print(pd.Series(series))

0    1
1    2
2    3
3    6
4    7
dtype: int64

In [41]:
import os # This will be used to tell us where the file is

pwd = os.getcwd() # This creates a string of the folder this Python Script is stored in

filepath = pwd + "/simple_csv.csv" # This creates a string that is the filepath to the simple_csv file

first_import = pd.read_csv("simple_csv.csv") # This reads the csv into Python
first_import

     Column1   Column2   Column3
0   0.280925  0.910368  0.692982
1   0.719882  0.210024  0.761276
2   0.235752  0.059796  0.154667
3   0.603366  0.485614  0.013345
4   0.039985  0.236359  0.811832
5   0.015478  0.543641  0.112719
6   0.192540  0.409874  0.875082
7   0.380921  0.045468  0.515859
8   0.592471  0.786421  0.047249
9   0.072112  0.695694  0.409573
10  0.898072  0.070956  0.209020
11  0.722038  0.211985  0.324164
12  0.513517  0.091548  0.664279
13  0.436729  0.040322  0.548167
14  0.864039  0.963556  0.106398
15  0.724761  0.410422  0.587589
16  0.198926  0.245207  0.767356
17  0.748500  0.019264  0.046678
18  0.920639  0.212611  0.520463
19  0.452024  0.123660  0.847451
20  0.542977  0.265852  0.410926
21  0.355266  0.860616  0.589431
22  0.142688  0.406456  0.204095
23  0.850436  0.129426  0.719027
24  0.443476  0.388967  0.596924
25  0.467100  0.416908  0.098037
26  0.338536  0.935814  0.736899
27  0.942101  0.772005  0.441574
28  0.570130  0.780085  0.085592

In [42]:
first_import["Column1"]

0     0.280925
1     0.719882
2     0.235752
3     0.603366
4     0.039985
5     0.015478
6     0.192540
7     0.380921
8     0.592471
9     0.072112
10    0.898072
11    0.722038
12    0.513517
13    0.436729
14    0.864039
15    0.724761
16    0.198926
17    0.748500
18    0.920639
19    0.452024
20    0.542977
21    0.355266
22    0.142688
23    0.850436
24    0.443476
25    0.467100
26    0.338536
27    0.942101
28    0.570130
Name: Column1, dtype: float64

In [43]:
first_import["New_Column"] = 1 # You can specify a uniform value for every row 

first_import["New_Column2"] = range(29) # You can pass a list of values that is as long as the DataFrame

first_import["Adding Stuff"] = first_import["Column3"] + first_import["Column1"] # You can take a couple of columns and add their values together

first_import = first_import.drop(columns="Column2")

first_import.drop(columns="Column3", inplace=True) # The "drop" method creates a copy of the DataFrame. If you want to change the original DataFrame either do what we did in the line above, or use the "inplace" argument

first_import

     Column1  New_Column  New_Column2  Adding Stuff
0   0.280925           1            0      0.973907
1   0.719882           1            1      1.481158
2   0.235752           1            2      0.390419
3   0.603366           1            3      0.616711
4   0.039985           1            4      0.851816
5   0.015478           1            5      0.128197
6   0.192540           1            6      1.067622
7   0.380921           1            7      0.896780
8   0.592471           1            8      0.639721
9   0.072112           1            9      0.481685
10  0.898072           1           10      1.107093
11  0.722038           1           11      1.046201
12  0.513517           1           12      1.177795
13  0.436729           1           13      0.984896
14  0.864039           1           14      0.970438
15  0.724761           1           15      1.312350
16  0.198926           1           16      0.966282
17  0.748500           1           17      0.795178
18  0.920639           1           18      1.441103
19  0.452024           1           19      1.299475
20  0.542977           1           20      0.953903
21  0.355266           1           21      0.944697
22  0.142688           1           22      0.346783
23  0.850436           1           23      1.569464
24  0.443476           1           24      1.040399
25  0.467100           1           25      0.565137
26  0.338536           1           26      1.075435
27  0.942101           1           27      1.383675
28  0.570130           1           28      0.655722

In [44]:
first_import.loc[:, "Column1"] # Select all rows in Column1

first_import.loc[0:4, "Column1"] # Select rows 0 through 4 INCLUSIVE (different from other Python indices) in Column1

first_import.loc[:, ["Column1", "New_Column2"]] # Select all rows in Column1 and Column2

     Column1  New_Column2
0   0.280925            0
1   0.719882            1
2   0.235752            2
3   0.603366            3
4   0.039985            4
5   0.015478            5
6   0.192540            6
7   0.380921            7
8   0.592471            8
9   0.072112            9
10  0.898072           10
11  0.722038           11
12  0.513517           12
13  0.436729           13
14  0.864039           14
15  0.724761           15
16  0.198926           16
17  0.748500           17
18  0.920639           18
19  0.452024           19
20  0.542977           20
21  0.355266           21
22  0.142688           22
23  0.850436           23
24  0.443476           24
25  0.467100           25
26  0.338536           26
27  0.942101           27
28  0.570130           28

In [45]:
first_import.iloc[:, 1] # Select all rows in Column1

first_import.iloc[0:4, 1] # Select rows 0 through 4 excluding 4 (different from other Python indices) in Column1

first_import.iloc[:, 0:2] # Select all rows in Column1 and Column2

     Column1  New_Column
0   0.280925           1
1   0.719882           1
2   0.235752           1
3   0.603366           1
4   0.039985           1
5   0.015478           1
6   0.192540           1
7   0.380921           1
8   0.592471           1
9   0.072112           1
10  0.898072           1
11  0.722038           1
12  0.513517           1
13  0.436729           1
14  0.864039           1
15  0.724761           1
16  0.198926           1
17  0.748500           1
18  0.920639           1
19  0.452024           1
20  0.542977           1
21  0.355266           1
22  0.142688           1
23  0.850436           1
24  0.443476           1
25  0.467100           1
26  0.338536           1
27  0.942101           1
28  0.570130           1

In [48]:
netflix = pd.read_csv("netflix_titles.csv")
netflix.head()

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 12 columns]

In [49]:
netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [53]:
netflix.describe()

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

In [54]:
netflix["type"].unique()

array(['TV Show', 'Movie'], dtype=object)

In [56]:
netflix[netflix["country"]=="Singapore"]

     show_id  ...                                        description
2         s3  ...  When an army recruit is found dead, his fellow...
333     s334  ...  A detective and a psychologist investigating a...
511     s512  ...  As he prepares to close his restaurant, Michel...
1064   s1065  ...  A former mortal who is now the Kitchen God coo...
2093   s2094  ...  Stand-up comic Fakkah Fuzz mines cross-cultura...
2956   s2957  ...  After a brawl lands him in a Boys’ Home, a tee...
3528   s3529  ...  After seducing a philandering con man, a rebel...
4106   s4107  ...  With the help of a cop, a psychologist and a w...
4138   s4139  ...  The life of a radio talk-show host is turned u...
4375   s4376  ...  After a car accident enables a young woman to ...
5870   s5871  ...  A car accident sends four lawyers spiraling in...
6087   s6088  ...  With their eyes on the grand prize, amateur de...
6311   s6312  ...  Four engineers from different walks of life cr...
6312   s6313  ...  A mysterious, wealthy man offers three people ...
6481   s6482  ...  She swore not to meddle in her kids' lives lik...
6716   s6717  ...  Two doctors with opposite approaches to treati...
6949   s6950  ...  A veteran cop forms an agency dedicated to sol...
6957   s6958  ...  Love and intrigue swirl around two women – one...
7128   s7129  ...  Spanning 30 years, a group of dedicated and di...
7358   s7359  ...  When a hard-nosed detective reluctantly partne...
7664   s7665  ...  A group of struggling individuals are united b...
7709   s7710  ...  When a frustrated businessman starts his own f...
7743   s7744  ...  Two lonely singles meet on a blind date and sl...

[23 rows x 12 columns]

In [57]:
netflix[(netflix["country"] == "Singapore") & (netflix["rating"] == "TV-MA")]

     show_id  ...                                        description
2093   s2094  ...  Stand-up comic Fakkah Fuzz mines cross-cultura...
2956   s2957  ...  After a brawl lands him in a Boys’ Home, a tee...
3528   s3529  ...  After seducing a philandering con man, a rebel...
4138   s4139  ...  The life of a radio talk-show host is turned u...
6949   s6950  ...  A veteran cop forms an agency dedicated to sol...

[5 rows x 12 columns]

In [58]:
netflix["computer_date"] = pd.to_datetime(netflix["date_added"])

In [76]:
from datetime import datetime
netflix["computer_date"].fillna(datetime(2020, 1,1),inplace=True)

In [77]:
netflix["unix_time"] = netflix["computer_date"].astype(int)

In [79]:
netflix["computer_date"].isna().sum()

0

In [80]:
# Splitting Columns
netflix[["Date Part 1", "Date Part 2"]] = netflix["date_added"].str.split(", ", expand=True)

In [81]:
# Renaming Columns
netflix.rename(columns={"Date Part 2": "Year"}, inplace=True)

In [82]:
# Dealing with Null Values - Fill Na
netflix["cast"].fillna(value="no cast", inplace=True)

In [84]:
# Applying a Function to Every Row
the_adder = lambda x: x + 210101
netflix["genre_count"] = netflix["listed_in"].map(lambda x: len(x.split(",")))

In [85]:
netflix["nonsensical_columns"] = netflix.apply(lambda x: len(x["cast"].split(",")) + len(x["listed_in"].split(",")), axis = 1)

In [87]:
netflix.groupby("country")["show_id"].count().reset_index()

                                               country  show_id
0                                            Argentina       50
1    Argentina, Brazil, France, Poland, Germany, De...        1
2                                     Argentina, Chile        1
3                               Argentina, Chile, Peru        1
4                                    Argentina, France        1
..                                                 ...      ...
676                                          Venezuela        1
677                                Venezuela, Colombia        1
678                                            Vietnam        5
679                                       West Germany        1
680                                           Zimbabwe        1

[681 rows x 2 columns]

In [88]:
netflix_movies_by_country = netflix.groupby("country")["show_id"].count().reset_index().sort_values(by="show_id", ascending=False)

In [89]:
second_dataset = pd.read_csv("netflix_titles_second.csv")

new_dataset = pd.concat([netflix, second_dataset])

In [90]:
netflix_merged = pd.merge(left = new_dataset, right = netflix_movies_by_country, how ="inner", left_on = ["country"], right_on = ["country"])

In [91]:
netflix_merged.head()

  show_id_x     type  ... nonsensical_columns show_id_y
0        s1  TV Show  ...                14.0        72
1      s209    Movie  ...                 3.0        72
2      s219  TV Show  ...                 4.0        72
3      s321    Movie  ...                 2.0        72
4      s323  TV Show  ...                28.0        72

[5 rows x 19 columns]

In [92]:
# pivot
pivot_table = netflix.pivot_table(index="country", columns="type", values= "title", aggfunc='count', fill_value=0).reset_index()

In [93]:
pivot_table

type                                            country  Movie  TV Show
0                                             Argentina     34       16
1     Argentina, Brazil, France, Poland, Germany, De...      1        0
2                                      Argentina, Chile      1        0
3                                Argentina, Chile, Peru      1        0
4                                     Argentina, France      1        0
..                                                  ...    ...      ...
676                                           Venezuela      1        0
677                                 Venezuela, Colombia      1        0
678                                             Vietnam      5        0
679                                        West Germany      1        0
680                                            Zimbabwe      1        0

[681 rows x 3 columns]

In [94]:
# Melt
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

df.melt(id_vars=['A'], value_vars=['B'],
        var_name='myVarname', value_name='myValname')

   A myVarname  myValname
0  a         B          1
1  b         B          3
2  c         B          5